.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: fixed;
    border-bottom: var(--border);
    position: fixed;
    top:0; left:0; right: 0;
    z-index:1000;

}

.header .logo img{
    height: 6rem;
}